---
const {title} = Astro.props

let pageTitle = "Reaper";

if(title){
    pageTitle += " | "+ title
}

---
<head>
<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle}>
<meta name="description" content="Minimalist Developer">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content={pageTitle}>
<meta property="og:description" content="Minimalist Developer">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content={pageTitle}>
<meta property="twitter:description" content="Minimalist Developer">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
</head>