---
const {title} = Astro.props

let pageTitle = "Reaper";

if(title){
    pageTitle += " | "+ title
}

---
<head>
<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle}>
<meta name="description" content="Minimalist Developer">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://reaper.im/">
<meta property="og:title" content={pageTitle}>
<meta property="og:description" content="Minimalist Developer">
<meta property="og:image" content="https://reaper.im/assets/og-dark.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://reaper.im/">
<meta property="twitter:title" content={pageTitle}>
<meta property="twitter:description" content="Minimalist Developer">
<meta property="twitter:image" content="https://reaper.im/assets/og-dark.png">


<!-- RSS Autoredirect -->
<link rel="canonical" href="https://reaper.im/">
<link rel="alternate" type="application/rss+xml" 
  title="RSS Feed for reaper.im" 
  href="/rss.xml" />
</head>